<div class="jumbotron">
	<h1>Hmm... That's Pinteresting.</h1>

	<!-- to make links, use "link_to", "path" -->
	<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>